{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% vite_hmr_client %}
    {% vite_asset 'assets/style/style.css' %}
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/static/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
</head>
<body class="m-4">
    {% if user.is_authenticated %}
        <script>
            console.log("auth ok");
        </script>
    {% endif %}
    <a href="{% url 'api:index' %}">index</a>
    {% block content %}
    {% endblock content %}
    {% vite_asset 'assets/main.jsx' %}
    {% vite_asset 'assets/index.js' %}
</body>
</html>